body {
    font: 20px "Gill Sans", Verdana, sans-serif;
    line-height: 1.8;
    color: #f5e6c4;
    background-color: #6c909f;
    padding-top: 0px !important;
  }

.textcontainer {
  padding: 2% 10%;;
}

p {font-size: 16px;}
.margin {margin-bottom: 30px;}

a {
  color: #f5e6c4;
}

.container-fluid {
  padding: 0px;
  /*padding-bottom: 70px;*/
}

nav {
  background-color: #64504b;
  color: #64504b;
  padding: 50px 0px;
}

.navbar-nav {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
  color: #f5e6c4;
}

.nav-link {
  border: 3px outset #f5e6c4;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #a68c69;
  color: #f5e6c4;
  transition: 0.3s;
}

.nav-link:hover {
  border: 3px outset #e7dec8;
  border-radius: 20px;
  padding: 10px 30px;
  background-color: #ab8f4f;
  transition: 0.3s;
}

#btn {
  border: 3px outset #f5e6c4;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #a68c69;
  color: #f5e6c4;
  transition: 0.3s;
}

#btn:hover {
  border: 3px inset 	#f5ebd1;
  border-radius: 40px;
  padding: 10px 30px;
  background-color: #967243;
  transition: 0.3s;
}

.row {
  margin: auto auto;
}

.flexrow {
  display: flex;
  justify-content: space-evenly;
}

.center-row {
  display: flex;
  justify-content: center;
}

code {
  background-color: 	#a68c69;
  color: 	#a68c69;
  font-family: 'Courier New', Courier, monospace;
}

.caption {
  color: 	#a68c69;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#aboutme {
  padding: 20px;
}